* {
  padding: 0px;
  margin: 0px; }

/*index.html*/
.head-index {
  position: absolute; }
  .head-index .logo-index {
    margin-top: 20px;
    margin-left: 20px;
    display: flex; }
  .head-index .sesion-index {
    padding-left: 1070px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin-top: 20px; }
    .head-index .sesion-index ul {
      list-style: none; }

.texto-index {
  position: absolute;
  margin-top: 20%;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 30px;
  color: white;
  background: rgba(0, 0, 141, 0.452);
  padding: 15px;
  border-radius: 10px; }

.titulo-index, .promociones {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  margin-top: 10px;
  text-align: center; }

.grid-index {
  display: grid;
  grid-template: 405px 405px  / 290px 290px;
  grid-template-areas: "europa norteamerica otras argentina" "latam caribe cruceros luna";
  grid-row-gap: 20px;
  grid-column-gap: 40px;
  padding-left: 20px;
  padding-top: 20px; }

.europa {
  grid-area: europa; }

.texto-europa, .texto-norte, .texto-otras, .texto-arg, .texto-latam, .texto-caribe, .texto-cruceros, .texto-luna {
  position: absolute;
  font-size: 40px;
  padding-left: 80px;
  padding-top: 180px;
  font-family: 'Roboto', sans-serif;
  color: white; }

.texto-europa:hover, .texto-norte:hover, .texto-otras:hover, .texto-arg:hover, .texto-latam:hover, .texto-caribe:hover, .texto-cruceros:hover, .texto-luna:hover {
  font-weight: 800;
  cursor: pointer; }

.norteamerica {
  grid-area: norteamerica; }

.texto-norte {
  padding-left: 20px; }

.texto-otras {
  padding-left: 20px; }

.texto-arg {
  padding-left: 70px; }

.texto-cruceros {
  padding-left: 70px; }

.texto-luna {
  padding-left: 35px; }

.grid-promociones {
  display: grid;
  grid-template: 400px / 400px;
  grid-template-areas: "maceio disney salta";
  grid-column-gap: 40px;
  padding-left: 20px;
  padding-top: 20px; }

.maceio-promo {
  grid-area: maceio; }

.disney-promo {
  grid-area: disney; }

.salta-promo {
  grid-area: salta; }

.boton-maceio, .boton-disney, .boton-salta {
  position: relative;
  border-bottom: none;
  border-radius: 5px;
  border-color: none;
  width: 100px;
  height: 30px;
  top: -70px;
  left: 150px;
  font-family: 'Roboto', sans-serif; }

.boton-maceio:hover, .boton-disney:hover, .boton-salta:hover {
  background: #022d88;
  color: white; }

.footer-index {
  background: #022d88;
  margin-top: 20px;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif; }
  .footer-index h3 {
    font-weight: 700;
    font-size: 30px; }
  .footer-index .direccion, .footer-index .horario, .footer-index .contacto {
    line-height: 10px;
    margin-top: 12px; }
    .footer-index .direccion .titulo, .footer-index .horario .titulo, .footer-index .contacto .titulo {
      font-weight: 600;
      font-size: 18px; }
  .footer-index .horario {
    margin-top: 30px; }
  .footer-index .contacto {
    margin-top: 30px; }
  .footer-index .facebook-index {
    display: flex;
    justify-content: right;
    margin-right: 20px; }
    .footer-index .facebook-index iframe {
      width: 400px;
      height: 400px; }

.titulo-argentina, .titulo-europa, .titulo-norteamerica, .titulo-culturas {
  position: absolute;
  margin-top: 10%;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 30px;
  color: white;
  font-size: 50px; }

main .titulo-argentina, main .titulo-europa, main .titulo-norteamerica, main .titulo-culturas {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 10px; }

main .grid-argentina {
  display: grid;
  grid-template: 400px / 400px;
  grid-template-areas: "cordoba mendoza isla " "tigre tandil bariloche";
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  padding-left: 20px;
  padding-top: 20px; }
  main .grid-argentina .cordoba-promo {
    grid-area: cordoba; }
  main .grid-argentina .mendoza-promo {
    grid-area: mendoza; }
  main .grid-argentina .isla-martin-promo {
    grid-area: isla; }
  main .grid-argentina .tigre-promo {
    grid-area: tigre; }
  main .grid-argentina .tandil-promo {
    grid-area: tandil; }
  main .grid-argentina .bariloche-promo {
    grid-area: bariloche; }

.titulo-europa {
  margin-top: 20%;
  background: rgba(0, 0, 141, 0.452);
  padding: 15px;
  border-radius: 10px; }

main .grid-europa {
  display: grid;
  grid-template: 400px / 400px;
  grid-template-areas: "levante costa cantabrico " "suiza escocia turquia";
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  padding-left: 20px;
  padding-top: 20px; }
  main .grid-europa .levante {
    grid-area: levante; }
  main .grid-europa .costadelsol {
    grid-area: costa; }
  main .grid-europa .cantabrico {
    grid-area: cantabrico; }
  main .grid-europa .suiza {
    grid-area: suiza; }
  main .grid-europa .escocia {
    grid-area: escocia; }
  main .grid-europa .turquia {
    grid-area: turquia; }

/*norteamerica.html*/
.titulo-norteamerica, .titulo-culturas {
  margin-top: 30%;
  margin-left: 20px;
  background: rgba(0, 0, 141, 0.452);
  padding: 15px;
  border-radius: 10px; }

.titulo-norte, main .titulo-otras {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 10px; }

main .grid-norteamerica {
  display: grid;
  grid-template: 400px / 400px;
  grid-template-areas: "miami nuevayork lasvegas " "losangeles hollywood ...";
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  padding-left: 20px;
  padding-top: 20px; }
  main .grid-norteamerica .miami {
    grid-area: miami; }
  main .grid-norteamerica .nuevayork {
    grid-area: nuevayork; }
  main .grid-norteamerica .lasvegas {
    grid-area: lasvegas; }
  main .grid-norteamerica .losangeles {
    grid-area: losangeles; }
  main .grid-norteamerica .hollywood {
    grid-area: hollywood; }

/*otrasculturas.html*/
main .grid-culturas {
  display: grid;
  grid-template: 400px / 400px;
  grid-template-areas: "tailandia camboya namibia " "safari ruta ...";
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  padding-left: 20px;
  padding-top: 20px; }
  main .grid-culturas .tailandia {
    grid-area: tailandia; }
  main .grid-culturas .camboya {
    grid-area: camboya; }
  main .grid-culturas .namibia {
    grid-area: namibia; }
  main .grid-culturas .safari {
    grid-area: safari; }
  main .grid-culturas .ruta {
    grid-area: ruta; }
